<div class="card mb-3">
    <div class="card-body">
        {% if payload['user'].last_session %}
            <div class="row">
                <div class="col-sm-9 text-secondary text-opacity-50">
                    <p>Last online: {{ payload['user'].last_session.strftime("%d %B, %Y, %H:%M") }}</p>
                </div>
            </div>
        {% endif %}

        {% for key, value in payload['user'].get_attrs.items() %}
            {% if key in payload['user_info_column'] %}
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">{{ payload['user_info_column'][key] }}</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ value }}
                    </div>
                </div>
                <hr>
            {% endif %}
        {% endfor %}

        <div class="row">
            <div class="col-sm-12">
                <a class="btn btn-info"
                   href="{{ url_for('ucp.profile_edit_handler', user_id=payload['user'].id) }}">Edit</a>
            </div>
        </div>
    </div>
</div>
